/* ======================= general formats ============== */

.rubik-regular-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

body,p {
  font-family: 'Rubik';
  color:white;
}

#background {
    background-image: url(img/images/bg.png);
    background-attachment:fixed; 
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.profile-flex-container, 
.about-flex-container, 
.skills-flex-container, 
.projects-flex-container, 
.contact-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    padding: 50px 20px;
    min-height: 85vh; /*covers at least 80% of the screen*/
}

/* makes ... */
section,#about,#skills,#projects,#contact {
    scroll-margin-top: 90px;
}


.title, #about, #skills, #projects, #contact {
    background: linear-gradient(to right, #5ba2e4, #1166e5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px; 
}

/* works on mobile */
@media (max-width: 768px) {
    #small-box-card, #profile-flex {
        flex-direction: column;
    }
}

/*===================== header section /*===================== */
.navbar-container{
    background-color: rgba(30, 24, 46, 0.98);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: right;
    justify-content: flex-end;
    align-items: center;
}

#header-text-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 25px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 13px;
    padding: 7px 13px;
}

nav a:hover {
    color:white;
    background-color: rgba(150, 167, 184, 0.3);
    justify-content: center;
    border-radius: 10px;
}
#nav-logo {
    width: 50px;
    height: 50x;
    margin-right: auto;
    margin-left: 30px;
}

/* ================== profile picture section ================== */

.profile-flex-container {
    display: flex;
    flex-wrap:wrap;
    min-height: 85vh; /*covers at least 80% of the screen*/
}
#profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile-content {
    color: white;
    text-align: center;
}

#my-name {
    font-size: 35px;
    font-weight: 600;
}

#deg-proj {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
    font-weight:500;

}
.profile-actions {
    display: flex;     
    margin-left: 15px;        
    margin-top: 25px;
    justify-content: flex-start; 
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 8px;
    margin:10px;
    text-decoration: none;
    color: white;
    border: 2px solid #5ba2e4;
}

.btn:hover {
    background-image: linear-gradient(to right, #5ba2e4,#1166e5 );
    transition: all 0.5s ease;
    transform: translateY(-3px);
}

/* ================================== about section ================================== */
#about{
    margin-bottom:50px;
}
#about-flex-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    margin-bottom:100px;
    align-items: center;
    padding:20px;
}

.about-card, .about-box.small-box, #programming-card, #goals-card {
    background-color: rgba(39, 31, 59, 0.65);
    padding: 15px; 
    border-radius: 20px;
    box-sizing: border-box;
}

#small-box-card {
    display: flex;
    flex-direction: row; 
    gap: 15px;
    width: 100%;
}

#education-card {
    flex: 1;
}

#smaller-box-card {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auto-title {
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 8px; 
}

.auto-text {
    line-height: 1.5;
    color: #ffffff;
    font-size: 14px;
}

.auto-text p {
    margin-bottom: 10px;
}

.auto-text ul {
    margin-top: 5px;
    padding-left: 20px;
}

/*============================= skills section ========================= */

#skills-flex-container {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center; 
    gap: 20px;        
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:white;
    margin-bottom:100px;
}

.skills-card {
    background-color: rgba(39, 31, 59, 0.65);
    border-radius: 20px;
    padding: 20px;
    width: 250px;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    color:white;
    margin:5px;
    
}

.skills-card:hover {
    transform: translateY(-5px);
}

.skills-logo {
    width: 80px;     
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}


.skills-text {
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

/*============================= projects section ========================= */
#projects-flex-container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 20px;         
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:white;
}

.project-card {
    background-color: rgba(39, 31, 59, 0.65);
    border-radius: 20px;
    padding: 20px;
    width: 530px;        
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: justify;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    color:white;
    margin:5px;
}

.project-img {
    width: 100%;     
    height: 250px;
    margin-bottom: 15px;
    border-radius: 15px;
}


.project-text {
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

#view-code-icon{

    width: 25px;          
    height: 100%;
}

#view-code-text{
    font-size:12px;
    text-decoration: none;
    margin-left:10px;
} 

.view-code-link {
    display: inline-block;
    display:flex;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 2px solid #5ba2e4;
    align-items:center;
    padding:0px 10px;
    align-content: flex-start;
    font-weight: bold;
}

.view-code-link:hover {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    transform: translateX(-2px);
}

#view-code {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#view-code-site{
    display:flex;
    align-content: flex-start;
    gap:15px;
}

/* =============== contact section ==================== */
#contact-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color:white;
    margin-bottom: 45px ;
}

.contact-card {
    background-color: rgba(39, 31, 59, 0.65);
    border-radius: 20px;
    padding: 0px 20px;
     width: 380px;
    display: flex;
    flex-direction: column;
    margin:5px;
}

.contact-details {
    display: flex;
    gap: 30px;
    padding-top: 10px;
    align-self: flex-start; 
}

#support-text {
    font-weight: bold;
    text-align: center;
    font-size:20px;
}

.qr-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.qr-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-logo-icon{
    width: 40px;          
    height: 40px;
}

.qr-logo {
    width: 180px;          
    height: 180px;
    border-radius: 15px;
}

#contact{
    margin-top:100px;
}

/* ================= footer section ==================== */

#footer-container{

    border-top:1px solid white;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center; 
    padding: 5px 0;
}

#footer-text {
    display: flex;
    margin-right: 35px;
    color: white;
    text-align: center;
}

#nav-logo {
    margin-left: 35px;
    display:block;
    align-items: center;
}
























